.navbar {
	margin-bottom: 40px;
}

.navbar-brand {
  padding: 5px;
}

.wrapper {
	max-width: 730px;	
}

.auth-wrapper {
  margin-top: 100px;
  max-width: 370px; 
}

.auth-wrapper .alert {
  margin-top: 20px;
}

.search-box-small {
}

.search-box-small .form-control {
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  padding: 2px 5px;
}

.search-box-small .btn {
  height: 27px;
  padding: 2px 12px;
}

.debug pre{
	font-size: 8pt;
	line-height: 1.1;
}

#table-log {
  font-size: 8pt;
  
}

.ctrl {
  display: none;
  text-decoration: none;
}


.footer {
	background-color: #F5F5F5;
	/*bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;*/
    text-align: center;
}

.footer h6 {
	line-height: 20px;
}

.userlist {
	margin-top:30px;
}

.urls_table {
  width:100%;
  table-layout: fixed;
}

.form-signin {
	width: 330px;
	margin: 0 auto;
	padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

#email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table th {
  background: none repeat scroll 0 0 #f0f0f0;
}

.hiddenRow {
    padding: 0 !important;
}

.hiddenRow td {
    padding: 0 !important;
    border: 0 !important;
}

/*.hiddenRow td .in{
    border-top: 1px solid #ddd;
}*/

.hiddenAlert {
  margin: 5px;
  padding: 3px;
}

#servers_check_btn {
    width: 100%;
    margin-top: 20px;
}